extends layout/layout
include ../components/product-list/product-list

block title
  title Funbox test task

block content
  section.section(role='region' aria-labelledby='product-list-heading')
    h1#product-list-heading.section__title Ты&nbsp;сегодня покормил кота?

    +product-list(products)
